#properties {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

.entry.bpmn-icon-intermediate-event-none{
  width: 100px;
  height: 100px;
  text-align: left;
  display: inline;
}