$fa-font-path: "fontello/font";
@import "fontello/css/fontello.css";

.djs-context-pad .entry {
  width: 0px;
  height: 22px;
  text-align: center;
  display: inline-block;
}
.bpmn-icon-task.red {
    color: #cc0000 !important;
  }

  .bpmn-icon-task.blue {
    color: #0300cc !important;
  }

  .bpmn-icon-task.yellow {
    color: #ffc800 !important;
  }

  .bpmn-icon-data-object.red {
    color: #cc0000 !important;
  }

  .bpmn-icon-data-object.blue {
    color: #0300cc !important;
  }

  .bpmn-icon-data-object.yellow {
    color: #ffc800 !important;
  }